//RAISE GOOD - CREATEPAGE STYLES

.right-nav {
  margin-top: 1.5em;
}

.create-main {
  background-color: $base-blue;
  min-height: 500px;
    
  h3 {
    color: $base-white;
    text-align: center;
    padding: 1.5em 0 1em 0;
  }

  .button {
    float: right;
  }

}
  
