//RAISE GOOD - HOMEPAGE STYLES
body {
  font-family: $main-typeface;
}

h1, h2, h3, h4, h5, h6{ font-family: $main-typeface }

a{ text-decoration: none; }

.raise-good-homepage {
  
  .main-nav-header {
    
    .left-nav {
      float: left;
        
        li{
          display: inline;
          margin-top: 0;
          padding: 0 1em 0 1em;
        }
        
        a{
          color: $base-red;
          text-decoration: none; 
        }
         
    }
    
    .right-nav {
      float: right; 
      
      li {
        display: inline;
      
        a {
          ;
          text-decoration: none;
        }
      
      }
      
      .right-link {
        color: $base-red
      }
    }
  }

  .main-header-image {
    background:url(../images/raisegoodcover.png) no-repeat top center;
    background-size:cover;
    width:100%;
    min-height:500px;
      
    .main-header {
      padding-top: 230px; 
      text-align: center;

      .header-block-background{
       
        h1 {
          background-color: rgba(204,10,50, 0.7);
          color: #FFFFFF;
          padding: 0.2em 0.8em;
        }
      }
    }
  }

  .features {
    text-align: center;
    
    h3 {
      color: $base-blue;
      padding-top: 50px;
    }
    img {
      padding-top: 1em;
      padding-bottom: 0;
    }
  
    .nav-link {
      font-size: 18px;
      text-decoration: none;
    }
  }

  .searchline {
    text-align: center;
    padding-bottom: 1em; 
    h4 {
      color: $base-blue;
      padding-top: 1em;
    }
    a {
      text-decoration: none;
    }
  }

  .how-it-works {
    background-color: $base-blue;
    text-align: center;
    
    h3, h4, p {
      color: #FFFFFF;
    }

    h3 {
      padding: 1em 0 0.5em 0;
      font-weight: 600;
    }
    h4 {
      padding-bottom: 0.25em;
      font-weight: 600;
    }

    p {
      padding: 0 1em 1em 1em;
    }
  }

  .quote-red-bg {
      background-color: $base-red;
      min-height: 400px;
      padding-top: 1em;
      text-align: center;
      
      }
      .scrolling-quote {
        img {
          float: left;
          padding-bottom: 0;
        }
      }
  }


  .final-cta {
    text-align: center;
    min-height: 225px;  
    h2 {
    color: $base-blue;
    padding-top: 1em;
    }
    a {
      text-decoration: none;
    }
  }

  .footer {
    background-color: $base-gray;
      .container {
        text-align: center;
        h3 {
          color: $base-blue;
          padding-top: 1em;
          padding-bottom: 0.5em;
          text-align: center;
        }
        li {
          display: inline;
        }
        a {
          text-decoration: none;
          padding: 0 1em; 
        }     
      }
      
      .line {
      max-width: 150%;
      }

      .nav-footer {
        text-align: center;
        font-size: 18px;
        a{
          color: $base-blue;
          padding: 0.5em 1.5em;

        }
      }
}


