//RAISE GOOD - VARIABLES

  //SITES

  //GRAYS
  $light-gray: #FAFAFA;
  $base-gray: #d7d7d7;
  $dark-gray: #CCCCCC;

  //REDS
  $base-red: #CC0A32;
  

  //BLUES
  $light-blue: #0A96CC;
  $base-blue: #548699;

  //MAIN TYPEFACE
  @import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
  $main-typeface: 'Raleway';