//GLOBAL NAV FOOTER STYLES

.nav-footer {
        background-color: $base-gray;
        text-align: center;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;

        .row {
          margin-bottom: 0;
          padding-top: 1em;
        }
          .footer-nav {
            padding-bottom: 1em;
          }
        li {
          display: inline;
          padding: 0 2em;
        }

        a{
          color: $base-blue;
          padding: 0.5em 1.5em;

        }
      }