.user-image {
	background:url(../images/usergeneric.png) no-repeat top center;
    background-size:cover;
    width:100%;
    min-height:300px;
    margin-top: 0;
    

    .user-profile{
    	text-align: center;


    	.user-profile-block{
    		left: 30px;
    		position: absolute;
    		top: 60px;

    		h5 , h6 {
	    		color: #fff;
	    		font-weight: 700;
		    }
		   

	    	.avatar{
	    		border-radius: 100px;
	    		height: 150px;
	    		margin-bottom: 15px;
	    		width: 150px;

	    	}
    	}
    }
    table{
        margin-top: 2em;
        .divider {
            margin-top: 1em;
        }
    }
}