.main-nav-header {
	padding-top: 0 !important;


	.dropdown {
		margin-top: 1.5em;
			
		.account{
			color: $base-blue;
			font-size: 13px;
			font-weight: 600;
		}
	}
}

.user-image {
	img{
		float: right;
	}
}


.body-container{ position: relative; }

.following-list {
	float: left;

	.fundraiser-block {
		img {
			padding-top: 1em;
			text-align: center;
		}

		h6 {
			color: $base-blue;
			padding-top: 1.5em;
		}

			a {
				color: $base-red;
				padding-top: 1em;
			}

		.divider {
			margin-bottom: 1em;
			width: 600px;
			float: right;
		}

		
	}
}		

.browse-more-sidebar { 
	background-color: #eeeeee;
	padding: 3em 3em 4em 2em;
	position: absolute;
	bottom: 0;
	right: 0;
	top: -20px;
	margin-left: 0;
	overflow:auto;
	float: right;
	display: block;

	h6 {
		color: $base-blue;
		
	}
			
		.category-list {
			ul {
				float: right;
				font-size: 16px;
				color: $base-blue;
				display: block;

				a {
					color: $base-red;
				}
			}

		}
		
	}