//RAISE GOOD - SIGNUP STYLES
body {
  font-family: $main-typeface;
}

a {text-decoration: none;}

.signup-page {

  ul {
    .right-nav {
      margin-top: 2em;
    }
  }
    
  
  


  .signup-main-image {
    background:url(../images/raisegoodcover.png) no-repeat top center;
    background-size:cover;
    width:100%;
    min-height:500px;
    margin-top: 0;
    margin-bottom: 0;

    .sign-up {
      position: center;
      padding-top: 5em;

      .header-block-background {
        margin-bottom: 0
      }
    
        .information {
          background-color:rgba(200, 60, 89, 1);

          color: #FFFFFF;
          padding: 0.5em 0.5em;
          border-radius: 5px;
        
          h3{
            text-align: center;
            color: $base-white;
            padding: 0.25em 0 0.25em 0;
          }
          input {
            border-radius: 5px;
            width: 100%;
          }
          a {
            margin: 1em 0 1em 0;
            text-align: center;
          }
      }
    }       
  }

}    



